@font-face {
    font-family: "Archivo";
    src: url("/fonts/archivo-var.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Clash Display";
    src: url("/fonts/clash-display-var.woff2") format("woff2");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

:root {
    --slide-width: min(25vw, 300px);
    --slide-aspect: 2 / 3;

    --slide-transition-duration: 800ms;
    --slide-transition-easing: ease;

    --font-archivo: "Archivo", sans-serif;
    --font-clash-display: "Clash Display", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    overflow: hidden;

    background: rgba(0, 0, 0, 0.787);
}

button {
    border: none;
    background: none;
    cursor: pointer;
    &:focus {
        outline: none;
        border: none;
    }
}

/* ------------------------------------------------ */
/* -------------------- SLIDER -------------------- */
/* ------------------------------------------------ */

.slider {
    width: calc(3 * var(--slide-width));
    height: calc(2 * var(--slide-height));
    display: flex;
    align-items: center;
}

.slider--btn {
    --size: 40px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transition: opacity 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: 999;

    & svg {
        width: var(--size);
        height: var(--size);
        stroke: white;
    }

    &:hover {
        opacity: 1;
    }
}

.slides__wrapper {
    width: 100%;
    height: 100%;

    display: grid;
    place-items: center;

    & > * {
        grid-area: 1 / -1;
    }
}

.slides,
.slides--infos {
    width: 100%;
    height: 100%;

    pointer-events: none;

    display: grid;
    place-items: center;
    & > * {
        grid-area: 1 / -1;
    }
}

/* ------------------------------------------------ */
/* -------------------- SLIDE --------------------- */
/* ------------------------------------------------ */

.slide {
    --slide-tx: 0px;
    --slide-ty: 0vh;
    --padding: 0px;
    --offset: 0;

    width: var(--slide-width);
    height: auto;
    aspect-ratio: var(--slide-aspect);
    user-select: none;
    perspective: 800px;

    transform: perspective(1000px) translate3d(var(--slide-tx), var(--slide-ty), var(--slide-tz, 0))
        rotateY(var(--slide-rotY)) scale(var(--slide-scale));
    transition: transform var(--slide-transition-duration) var(--slide-transition-easing);
}

.slide[data-current] {
    --slide-scale: 1.2;
    --slide-tz: 0px;
    --slide-tx: 0px;
    --slide-rotY: 0;

    pointer-events: auto;
}

.slide[data-next] {
    --slide-tx: calc(1 * var(--slide-width) * 1.05);
    --slide-rotY: -45deg;
}

.slide[data-previous] {
    --slide-tx: calc(-1 * var(--slide-width) * 1.05);
    --slide-rotY: 45deg;
}

.slide:not([data-current]) {
    --slide-scale: 1;
    --slide-tz: 0;
    /* --slide-tx: calc(var(--offset) * var(--slide-width) * 1.05); */
    /* --slide-rotY: calc(var(--dir) * -45deg); */

    pointer-events: none;
}

.slide[data-current] {
    & .slide--image {
        filter: brightness(0.8);
    }
}

.slide:not([data-current]) {
    & .slide--image {
        filter: brightness(0.5);
    }
}

.slide__inner {
    --rotX: 0;
    --rotY: 0;
    --bgPosX: 0%;
    --bgPosY: 0%;

    position: relative;
    left: calc(var(--padding) / 2);
    top: calc(var(--padding) / 2);
    width: calc(100% - var(--padding));
    height: calc(100% - var(--padding));
    transform-style: preserve-3d;
    transform: rotateX(var(--rotX)) rotateY(var(--rotY));
}

.slide--image__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide--image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%) scale(1.25) translate3d(var(--bgPosX), var(--bgPosY), 0);
    transition: filter var(--slide-transition-duration) var(--slide-transition-easing);
}

.slide__bg {
    position: fixed;
    inset: -20%;
    background-image: var(--bg);
    background-size: cover;
    background-position: center center;

    z-index: -1;
    pointer-events: none;

    transition:
        opacity var(--slide-transition-duration) ease,
        transform var(--slide-transition-duration) ease;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
    }

    &::before {
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(8px);
    }

    &:not([data-current]) {
        opacity: 0;
    }

    &[data-previous] {
        transform: translateX(-10%);
    }

    &[data-next] {
        transform: translateX(10%);
    }
}

/* ------------ SLIDE INFO ---------------- */

.slide-info {
    --padding: 0px;

    position: relative;
    width: var(--slide-width);
    height: 100%;
    aspect-ratio: var(--slide-aspect);
    user-select: none;
    perspective: 800px;
    z-index: 100;
}

.slide-info[data-current] {
    & .slide-info--text span {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition-delay: 250ms;
    }
}

.slide-info:not([data-current]) {
    & .slide-info--text span {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
        transition-delay: 0ms;
    }
}

.slide-info__inner {
    position: relative;
    left: calc(var(--padding) / 2);
    top: calc(var(--padding) / 2);
    width: calc(100% - var(--padding));
    height: calc(100% - var(--padding));
    transform-style: preserve-3d;
    transform: rotateX(var(--rotX)) rotateY(var(--rotY));
}

.slide-info--text__wrapper {
    --z-offset: 45px;

    position: absolute;
    height: fit-content;
    left: -15%;
    bottom: 15%;
    transform: translateZ(var(--z-offset));
    z-index: 2;
    pointer-events: none;
}

.slide-info--text {
    font-family: var(--font-clash-display);
    color: #fff;
    overflow: hidden;

    & span {
        display: block;
        white-space: nowrap;
        transition: var(--slide-transition-duration) var(--slide-transition-easing);
        transition-property: opacity, transform;
    }

    &[data-title],
    &[data-subtitle] {
        font-size: min(3cqw, 2.4rem);
        font-weight: 800;
        letter-spacing: 0.2cqw;
        white-space: nowrap;
        text-transform: uppercase;
    }

    &[data-subtitle] {
        margin-left: 2cqw;
        font-size: min(2.2cqw, 1.8rem);
        font-weight: 600;
    }

    &[data-description] {
        margin-left: 1cqw;
        font-size: min(1.5cqw, 0.95rem);
        font-family: var(--font-archivo);
        font-weight: 300;
    }
}

/* ------------------------------------------------ */
/* -------------------- LOADER --------------------- */
/* ------------------------------------------------ */

.loader {
    position: fixed;
    inset: 0;

    display: grid;
    place-items: center;

    background: #000;
    z-index: 1000;

    opacity: 1;
    transition: opacity 0.5s ease-out;

    .loader__text {
        font-family: var(--font-clash-display);
        font-size: clamp(2rem, 2vw, 5rem);
        font-weight: 800;
        color: #fff;
    }
}
